<div>
  <h2>Outbox:</h2>
</div>

<ol>
  <li *ngFor='let message of messages'>
    <div *ngIf="messages">
      <table>
        <tr>
          <th>To</th>
          <th>Message</th>
          <th>Date Sent</th>
        </tr>
        <tr>
          <td>{{message.receiver}}</td>
          <td>{{message.content}}</td>
          <td>{{message.date}}</td>
        </tr>
        <button [disabled]="disableDeleteButton" (click)="deleteMessage(message)">
          Delete
        </button>
      </table>
    </div>

  </li>
</ol>
<router-outlet></router-outlet>
