<div *ngIf="isMyItems" xmlns="http://www.w3.org/1999/html">
  <h2 class="title">Start New Auction:</h2> </div>
<div *ngIf="!isMyItems">
  <h2 class="title">Browse:</h2> </div>

<div *ngIf="isMyItems">
  <div class="control">
    <button class="button is-primary is-dark" (click)="reroute()" [disabled]="loading || !isMyItems">
      Start New Auction </button> </div> </div>

<hr class="bd-hr">

<div *ngIf="isMyItems">
  <h2 class="title">Manage Your Auctions:</h2> </div>

<div *ngIf="form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="field is-horizontal"> <div class="field-body">
      <div class="field"> <div class="control">
        <label class="label" for="itemSearch">Search for items: </label>
        <input class="input is-info" placeholder="ex. 'Kidneys'" id="itemSearch" type="text" formControlName="itemSearch"/>
      </div> </div>

      <div class="field"> <div class="control">
        <label class="label" for="maxPrice">Budget: </label>
        <input class="input is-info" placeholder="ex. 200" id="maxPrice" type="number" formControlName="maxPrice"/>
      </div> </div>

      <div class="field"> <div class="control">
        <label class="label" for="locationSearch">Search for location: </label>
        <input class="input is-info" placeholder="ex. Nigeria" id="locationSearch" type="text" formControlName="locationSearch"/>
      </div> </div>

      <div class="field">
        <label class="label">Category: </label> <div class="control"> <div class="select is-info">
        <select id="selectCategory" (change)="updateSelectedCategory($event)">
          <option value="none">None</option>
          <option value="food">Food</option>
          <option value="toys">Toys</option>
          <option value="electronics">Electronics</option>
          <option value="books">Books</option>
          <option value="movies">Movies</option>
          <option value="video games">Video Games</option>
          <option value="clothing">Clothing</option>
          <option value="footwear">Footwear</option>
          <option value="furniture">Furniture</option>
          <option value="music">Music</option>
        </select>
      </div> </div> </div>

      <div class="field"> <div class="control">
        <label class="label">Search:</label>
        <button class="button is-primary is-dark" [disabled]="loading">Search</button> </div> </div>

    </div> </div>
  </form>
</div>

<hr class="bd-hr">

<div *ngIf="loaded && finalItems.length == 0">
  <h2 class="title">No Auctions Found. 😔</h2> </div>

<div class="fixed-grid">
  <div class="grid">
    <div class="cell py-3 px-4 has-background-black has-radius-normal" *ngFor='let items of finalItems'>
      <a class="title is-5 has-text-link" [routerLink]="['/items', items.id]"
         *ngFor="let item of items.items let i = index; let last = last">
          {{item.name}}{{!last ? ',' : ''}} </a>

      <div *ngIf="items">
        <table>
          <tr>
            <th>Current Bid</th> <th>Buy Price</th> <th>End Date</th> <th>Location</th>
          </tr>
          <tr>
            <td>{{items.currentBid}}</td> <td>{{items.buyPrice}}</td> <td>{{items.ends}}</td>
            <td>{{items.location.country}}, {{items.location.location}}</td>
          </tr>
        </table>
      </div>

      <br>

    </div>
  </div>
</div>
<router-outlet></router-outlet>
