th, td {
  border: 2px solid;
  padding: 10px;
}

li {
  margin-bottom: 45px;
}

.myButton {
  margin-left: 20px;
  margin-top: -10px;
}

.myButton2 {
  margin-left: 20px;
  margin-top: -10px;
  margin-bottom: 60px;
}

.leftMargin {
  margin-left: 20px;
}

.displayTable {
  display: table;
}

.displayTableCell {
  display: table-cell;
}
