<div>
  <form [formGroup]="form" (ngSubmit)="login()">
    <div>
      <label for="username">Username: </label>
      <input id="username" type="text" formControlName="username" />
      <div *ngIf="submitted && formControls['username'].errors">
        <b> <div *ngIf="formControls['username'].errors['required']">Username is required.</div> </b>
      </div>
    </div>

    <div>
      <label for="password">Password: </label>
      <input id="password" type="password" formControlName="password" />
      <div *ngIf="submitted && formControls['password'].errors">
        <b> <div *ngIf="formControls['password'].errors['required']">Password is required.</div> </b>
      </div>
    </div>

    <div>
      <b> <button [disabled]="loading">
        Login
      </button> </b>
    </div>
  </form>
</div>
