<div *ngIf="user">
  <table class="cell py-3 px-4 has-background-black has-radius-normal">
    <tr>
      <th>Id</th>
      <th>Username</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Country</th>
      <th>Location</th>
      <th>isAdmin</th>
      <th>Activated</th>
    </tr>
    <tr>
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.location.country}}</td>
      <td>{{user.location.location}}</td>
      <td>{{user.admin}}</td>
      <td>{{user.activated}}</td>
    </tr>
  </table>

  <div *ngIf="user.id && !user.admin">
    <button class="button is-dark is-primary mr-5" *ngIf="!user.activated" (click)="activateUser()" [disabled]="isActivating">
      Activate account</button>
    <button class="button is-dark is-danger" (click)="deleteUser(user.id)" [disabled]="isDeleting">Delete user</button>
  </div>
</div>

