<div>
  <h2>Inbox:</h2>
  <br>
</div>

<ol>
  <li>
    <table class="cell py-3 px-4 has-background-black has-radius-normal">
      <tr>
        <th>From</th>
        <th>Message</th>
        <th>Date Sent</th>
        <th>Delete</th>
      </tr>
      <ng-container *ngIf="messages">
        <tr *ngFor='let message of messages'>
          <td>{{message.sender}}</td>
          <td>{{message.content}}</td>
          <td>{{message.date}}</td>
          <td>
            <button class="button is-dark is-danger" [disabled]="disableDeleteButton" (click)="deleteMessage(message)">
              Delete</button>
          </td>
        </tr>
      </ng-container>
    </table>
  </li>
</ol>
<router-outlet></router-outlet>
