<h2>Edit Auction:</h2>

<div *ngIf="form">
  <form [formGroup]="form" (ngSubmit)="onFinalSubmit()">

    <div>
      <h2>Items:</h2>
    </div>

    <div *ngIf="items">
      <div *ngFor='let item of items'>
        <div *ngIf="item">

          <table>
            <tr>
              <th>Name</th>
              <th>Description</th>
            </tr>
            <tr>
              <td>{{item.name}}</td>
              <td>{{item.description}}</td>
            </tr>
          </table>

          <b> <button class="myButton" (click)="removeItem(item.name, item.description)">
            Remove Item
          </button> </b>

        </div>
      </div>
    </div>

    <div>
      <h3>Add an Item:</h3>
    </div>

    <div>
      <form #myForm="ngForm" [formGroup]="itemForm" (ngSubmit)="onItemSubmit(myForm)">

        <div>
          <label for="name">Name: </label>
          <input id="name" type="text" formControlName="name" />
          <div *ngIf="itemSubmitted && itemFormControls['name'].errors">
            <b> <div *ngIf="itemFormControls['name'].errors['required']">Name is required.</div> </b>
          </div>
        </div>

        <div>
          <label for="description">Description: </label>
          <input id="description" type="text" formControlName="description" />
          <div *ngIf="itemSubmitted && itemFormControls['description'].errors">
            <b> <div *ngIf="itemFormControls['description'].errors['required']">Description is required.</div> </b>
          </div>
        </div>

        <b> <button class="myButton" [disabled]="addingItem">
          Add Item
        </button> </b>

      </form>
    </div>

    <div>
      <h2>Choose NEW categories:</h2>
    </div>

    <table>
      <tr>
        <th *ngFor="let category of categories">
          <label for="{{category.id}}">{{category.id}}:</label>
        </th>
      </tr>
      <tr>
        <th class="myTh" *ngFor="let category of categories">
          <input id="{{category.id}}" [value]="category.id" type="checkbox" (change)="onCheckbox(category.id, $event)" />
        </th>
      </tr>
    </table>

    <div>
      <h2>General Information:</h2>
    </div>

    <div>
      <div *ngIf="initialAuction">
        Old Buy Price: {{initialAuction.buyPrice}}
      </div>
      <label for="buyPrice">New Buy Price (Optional):</label>
      <input id="buyPrice" type="number" min="0" formControlName="buyPrice" />
      <div *ngIf="submitted && formControls['buyPrice'].errors">
        <b> <div *ngIf="formControls['buyPrice'].errors['min']">Buy price must be above 0.</div> </b>
      </div>
    </div>

    <div>
      <div *ngIf="initialAuction">
        Old First Bid: {{initialAuction.firstBid}}
      </div>
      <label for="firstBid">New First Bid (Optional): </label>
      <input id="firstBid" type="number" min="0" formControlName="firstBid" />
      <div *ngIf="submitted && formControls['firstBid'].errors">
        <b> <div *ngIf="formControls['firstBid'].errors['min']">First bid must be above 0.</div> </b>
      </div>
    </div>

    <div>
      <div *ngIf="initialAuction">
        Old End Date: {{initialAuction.ends}}
      </div>
      <label for="endDate">New End Date (Optional): </label>
      <input id="endDate" type="date" formControlName="endDate" />
    </div>

    <div>
      <h2>Location Information:</h2>
    </div>

    <div>
      <div *ngIf="initialAuction">
        Old Country: {{initialAuction.location.country}}
      </div>
      <label for="country">New Country (Optional): </label>
      <input id="country" type="text" formControlName="country" />
    </div>

    <div>
      <div *ngIf="initialAuction">
        Old Location: {{initialAuction.location.location}}
      </div>
      <label for="location">New Location (Optional): </label>
      <input id="location" type="text" formControlName="location" />
    </div>

    <div>
      <div *ngIf="initialAuction">
        Old Longitude: {{initialAuction.location.longitude}}
      </div>
      <label for="longitude">New Longitude (Optional): </label>
      <input id="longitude" type="text" formControlName="longitude" />
    </div>

    <div>
      <div *ngIf="initialAuction">
        Old Latitude: {{initialAuction.location.latitude}}
      </div>
      <label for="latitude">New Latitude (Optional): </label>
      <input id="latitude" type="text" formControlName="latitude" />
    </div>

    <b> <button [disabled]="addingAuction">
      Update Auction
    </button> </b>

  </form>
</div>
