body, html {
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

html {
  font-size: 17px; /* Default is 16px */
}

.content {
  position: relative;
  z-index: 1; /* Ensure the content is above the canvas */
}

.content-with-margins {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.item-image {
  width: 100px; /* or max-width: 100px; */
  height: auto; /* Maintain aspect ratio */
  max-height: 100px; /* Optional: Restrict height */
  object-fit: cover; /* Cover will crop if needed, contain will fit within bounds */
  border-radius: 8px; /* Optional: Add rounded corners */
}

.map {
  height: 300px;
  width: 25%;
}
