<div>
  <h2>Auction details:</h2>
</div>

<b> <div *ngIf="!active">
  <h3>This auction is no longer active.</h3>
</div> </b>

<div *ngIf="items">
  <table>
    <tr>
      <th>Id</th>
      <th>Current Bid</th>
      <th>Buy Price</th>
      <th>First Bid</th>
      <th>Number of Bids</th>
      <th>Seller Id</th>
      <th>Seller Rating</th>
      <th>Location</th>
    </tr>
    <tr>
      <td>{{items.id}}</td>
      <td>{{items.currentBid}}</td>
      <td>{{items.buyPrice}}</td>
      <td>{{items.firstBid}}</td>
      <td>{{items.numberOfBids}}</td>
      <td>{{items.seller.id}}</td>
      <td>{{items.seller.sellerRating}}</td>
      <td>{{items.location.country}}, {{items.location.location}}</td>
    </tr>
  </table>

  <table>
    <tr>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
    <tr>
      <td>{{items.started}}</td>
      <td>{{items.ends}}</td>
    </tr>
  </table>
</div>

<div>
  <h2>Items included:</h2>
</div>

<div *ngIf="items && items.items">
  <div *ngFor='let myItem of items.items'>
    <div *ngIf="myItem">
      <table>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Description</th>
        </tr>
        <tr>
          <td>{{myItem.id}}</td>
          <td>{{myItem.name}}</td>
          <td>{{myItem.description}}</td>
        </tr>
      </table>
      <div  *ngFor="let image of images" >
        <img src='{{image}}'/>
      </div>
    </div>
</div>

</div>

<div *ngIf="isLoggedIn && active && !isMine && loaded">
  <h2>Place Bid:</h2>
</div>


<div *ngIf="isLoggedIn && active && !isMine && loaded">
  <form [formGroup]="form" (ngSubmit)="addBid()">
    <div>
      <label for="amount">Amount: </label>
      <input id="amount" type="text" formControlName="amount" />
      <div *ngIf="submitted && formControls['amount'].errors">
        <b> <div *ngIf="formControls['amount'].errors['required']">Amount is required.</div> </b>
      </div>
    </div>

    <div>
      <b> <button [disabled]="loading" >
        Place Bid
      </button> </b>
    </div>

  </form>
</div>


<h2>Auction on Map:</h2>
<div id="ol-map" class="map"></div>


<div *ngIf="items && items.bids">

  <div *ngIf="items.bids.length > 0">
    <h2>Bid History:</h2>
  </div>

  <div *ngFor='let bid of items.bids'>
    <div *ngIf="bid">
      <table>
        <tr>
          <th>Bidder</th>
          <th>Amount</th>
          <th>Time</th>
        </tr>
        <tr>
          <td>{{bid.bidderName}}</td>
          <td>{{bid.amount}}</td>
          <td>{{bid.date}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>


<div *ngIf="isLoggedIn && active && isMine && loaded && items && canDelete">
  <h2>Manage Auction:</h2>

  <div>
    <b> <button [disabled]="loading" (click)="routeToEdit()">
      Edit Auction
    </button> </b>

    <b> <button [disabled]="loading || isDeleting" (click)="deleteItems()">
      Delete Auction
    </button> </b>
  </div>

</div>

<div *ngIf="isLoggedIn && isMine && loaded && items">
  <h2>Show Auction in XML format:</h2>

  <div>
    <b> <button [disabled]="loading" (click)="showXML = true">
      Show XML
    </button> </b>
  </div>

  <div *ngIf="showXML">
    {{xml}}
    <b> <button class="invisible"></button> </b>
  </div>

</div>

<!--scuffed way to add bottom margin-->
<div *ngIf="!(isLoggedIn && active && isMine && loaded && items && canDelete)">
  <b> <button class="invisible"></button> </b>
</div>

